<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Animal</title>
</head>
<body>
<div align="center"><h2>Добавить потерявшееся животное</h2>
    <br>
    <br>
    <form style="width:300px" method="POST">
        <div>
            <input name="Name" placeholder="Имя">
        </div>
        <br>
        <div>
            <select name="AnimalType">
                <option th:each="type : ${types}"
                        th:value="${type.id}"
                        th:text="${type.name}">
                </option>
            </select>
        </div>
        <br>
        <br>
        <button style="width:200px">Добавить</button>
    </form>
    <br>
</div>

</body>
</html>