<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Shelter</title>
</head>
<body>
<a href="/add">Добавить потерявшееся животное</a> <br>
<a href="/add_type">Добавить вид животного</a> <br>

<div align="center">
    <h1 th:if="${flag}" >В приют поступило новое животное: <span th:text="${new_animal}"></span></h1>
    <br>
    <h2>Список видов животных</h2>

    <table border='1' class="table table-hover">
        <thead>
        <tr>
            <th> Id</th>
            <th> Название</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="type : ${types}">
            <td th:utext="${type.id}"></td>
            <td th:utext="${type.name}"></td>
            <td><a th:href="@{'/delete_type/' + ${type.id}}">
                <button class="btn btn-danger">Удалить</button>
            </a></td>
            <td><a th:href="@{'/edit_type/' + ${type.id}}">
                <button class="btn btn-info">Изменить</button>
            </a></td>
        </tr>
        </tbody>
    </table>

    <h2>Список потерявшихся животных</h2>

    <table border='1' class="table table-hover">
        <thead>
        <tr>
            <th> Id</th>
            <th> Имя</th>
            <th> Вид</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${animals}">
            <td th:utext="${animal.id}"></td>
            <td th:utext="${animal.name}"></td>
            <td th:utext="${animal.animalType.name}"></td>
            <td><a th:href="@{'/delete/' + ${animal.id}}">
                <button class="btn btn-danger">Удалить</button>
            </a></td>
            <td><a th:href="@{'/edit/' + ${animal.id}}">
                <button class="btn btn-info">Изменить</button>
            </a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>